.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;

  @media(max-width: 575.99px) {
    margin-bottom: 60px;
  }
}

.catalog__item {
  position: relative;
  box-sizing: border-box;
  width: calc(50% - 15px);
  background-color: #F9F3ED;
  padding: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width: 575.99px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.catalog__description {
  position: absolute;
  min-height: 52px;
  text-transform: uppercase;
  top: 0;
  right: 0;
  padding-left: 80px;
  padding-right: 40px;
  background-color: #483F37;
  color: #ffffff;
  font-size: 24px;
  font-weight: book;
  display: flex;
  align-items: center;
  text-align: right;

  @media(max-width: 991.99px) {
    padding-left: 40px;
    font-size: 18px;
  }

  @media(max-width: 767.99px) {
    // width: 100%;
    // padding-right: 0;
    // padding-left: 0;
    padding-left: 35px;
    // justify-content: center;
    // text-align: center;
    text-align: right;
    padding-right: 20px;
  }

  @media(max-width: 575.99px) {
    font-size: 14px;
    min-height: 31px;
  }
}