.content h1,
.content span {
  color: #483F37;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.content p {
  color: #483F37;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}