.footer-top {
  background-color: #F9F3ED;
  padding-top: 45px;
  padding-bottom: 55px;
  box-sizing: border-box;

  @media(max-width: 991.99px) {
    padding-bottom: 65px;
  }

  @media(max-width: 575.99px) {
    padding-bottom: 23px;
    padding-top: 1px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 575.99px) {
      display: block;
    }

    .contacts {
      display: flex;
      flex-direction: column;

      @media(max-width:767.99px) {
        margin-top: 20px;
      }

      @media(max-width: 575.99px) {
        flex-direction: row;
        justify-content: space-between;
        flex: 1 0 auto;
      }
    }
  }

  .contacts__empty {
    @media(max-width: 991.99px) {
      display: none;
    }
  }
}