.product-wrapper {
  display: flex;

  // @media(max-width: 920px) {
  //   flex-wrap: wrap;
  // }
  @media(max-width: 1200px) {
    flex-wrap: wrap;
  }

  @media(max-width: 920px) {
    display: block;
  }
}