.slider-content__title {
  font-size: 18px;
  font-weight: 500;
  color: #483F37;
  margin-bottom: 20px;
}

.slider-content__subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #483F37;
  margin-bottom: 40px;
}

.slider-content__price {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.slider-content__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}