.switch {
  height: 100%;
  display: flex;

  button {
    background-color: #F9F3ED;
    color: #483F37;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    flex: 1 0 55px;
    cursor: pointer;

    @media(max-width: 575.99px) {
      font-size: 12px;
    }
  }

  .active {
    background-color: #483F37;
    color: #ffffff;
  }
}