.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}

.top-menu__link {
  @media(max-width: 575.99px) {
    display: none;
  }
}

.top-menu__item--logo {
  @media(max-width: 575.99px) {
    margin-top: -20px;
  }
}

.top-menu__item a {
  color: #F9F3EE;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;

  @media(max-width: 767.99px) {
    font-size: 18px;
  }
}