.top-header {
  background-color: #F9F3ED;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-header__link {
  text-decoration: none;
  color: #281D19;
  font-size: 24px;
  font-weight: 700;
}