body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Blender Pro';
  font-weight: 400;
  color: #3B302A;

  &.noscroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0 auto;

  @media(max-width: 767.98px) {
    padding: 0 15px;
  }
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: 'Blender Pro';
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  font-family: 'Blender Pro';
  list-style: none;
  padding: 0;
  margin: 0;
}