body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Blender Pro';
  font-weight: 400;
  color: #3B302A;
}

.container {
  width: auto;
  max-width: 1920px;
  padding: 0 99px;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-family: 'Blender Pro';
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}